<button *ngIf="!isUserAuthenticated()" (click)="login()"> LOGIN </button>

<ng-container *ngIf="isUserAuthenticated()">
    <form action="/logout" method="post">
        <button type="submit">FORM STYLE LOGOUT</button>
    </form>
</ng-container>

<br>

<button (click)="resource()"> Get protected resources </button>
{{ answer?.name }}
<br>
<button (click)="publicResource()"> Get public resources </button>
{{ publicAnswer?.name }}
<br>
<button (click)="getUser()"> get user </button>
{{ user?.name }}